<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Anako</title>
</head>

<body>
    <div class="bg bg-size">
        <header class="header_area">
            <div class="main_menu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" style="height: 150px;" href="#"><img style="height: 150px;" src="img/logo.png"></a>
                                <div class="collapse navbar-collapse">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a href="/" class="nav-link">
                                                Accueil
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/diagnostic" class="nav-link">
                                                Diagnostic
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/product" class="nav-link">
                                                Nos produits
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="d-flex justify-content-center h-75">
            <div class="flex-column align-self-center text-center">
                <h4><span style="font-weight: bold; color: #EBCDC3">#</span>ArriveBientot</h4>
                <h1 class="title_h1">Coming Soon</h1>
                <h3>  Abonnez-vous à notre newsletter pour être informé de l'arrivée de nos produits !</h3>
                <div class="d-flex justify-content-center">
                    <div class="form-group custom_form my-5">
                        <input type="email" class="form-control btn-lg" id="email" aria-describedby="emailHelp"
                            placeholder="Saisir un email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec
                            qui que ce soit.</small>
                        <submit class="btn bg-pink-dark text-light btn-md mt-5" style="border-radius: 0.25rem;">
                            S'abonner</submit>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>